<h2>Sobre</h2>
<h3>
    Informações a respeito desta
    aplicação de exemplo
</h3>

<p>
    Aplicação criada com o objetivo
    de se demonstrar a implementação de projetos
    baseados no ASP.NET MVC 6.
</p>