<h2>Contato</h2>
<h3>Informações sobre o Autor</h3>

<address>
    <strong>Dúvidas / Outras informações:</strong>
    <a href="mailto:renato.groffe@yahoo.com.br">renato.groffe@yahoo.com.br</a>
</address>